<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="py-4 w-100">
			<div class="d-flex justify-content-sm-between align-items-center">
				<span class="text-muted"> &copy {% now 'Y' %} by Nazar Pichak</span>
				<span  class="px-2">pichak.nazariy@gmail.com</span>
				<span  class="px-2 number">+420773652425</span>
				<i class="fa fa-2x fa-cc-visa text-primary"></i>
				<i class="fa fa-2x fa-cc-paypal text-primary"></i>
				<i class="fa fa-2x fa-cc-mastercard text-primary"></i>
			</div>

		</section>
	</div>
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
	$(document).ready(function() {
		$('.thumb a').click(function(e) {
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>
	
